html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, a { margin: 0; padding: 0; border: 0; background-color: Transparent; background-repeat: no-repeat; color: #FFF; font-size: 14px; font-family: Arial,Sans-Serif; line-height: 18px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
ins { background-color: #FF9; color: #000; text-decoration: none; }
mark { background-color: #FF9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #CCC; margin: 10px 0; padding: 0; }
input, select { vertical-align: middle; }
/*Font normalization inspired by YUI Library's fonts.css:developer.yahoo.com/yui/*/
select, input, textarea, button { font: 99% sans-serif; }
/*Normalize monospace sizing:en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome*/
pre, code, kbd, samp { font-family: monospace,sans-serif; }
/*Minimal base styles.Always force a scrollbar in non-IE*/
html { overflow-y: hidden; /*scroll;*/ }
/*Accessible focus treatment:people.opera.com/patrickl/experiments/keyboard/test*/
a:hover, a:active { outline: none; }
ul, ol { margin: 0; }
ol { list-style-type: decimal; }
li { list-style: none; }
/*Remove margins for navigation lists*/
nav ul, nav li { margin: 0; list-style: none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: middle; }
/*Set sub,sup without affecting line-height:gist.github.com/413930*/
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -5px; }
sub { bottom: -2.5px; }
pre { /*www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/*/ white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
/*www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/*/
.ie6 legend, .ie7 legend { margin-left: -7px; }
/*Align checkboxes,radios,text inputs with their label by:Thierry Koblentz tjkdesign.com/ez-css/css/base.css*/
input[type="radio"] { vertical-align: middle; }
input[type="checkbox"] { vertical-align: middle; }
.ie7 input[type="checkbox"] { vertical-align: middle; }
.ie6 input { vertical-align: middle; }
/*Hand cursor on clickable input elements*/
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; padding: 0; margin: 0; }
/*Webkit browsers add a 2px margin outside the chrome of form elements*/
button, input, select, textarea { margin: 0; }
/*Colors for form validity*/
input:valid, textarea:valid { }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px #FF0000; -webkit-box-shadow: 0px 0px 5px #FF0000; box-shadow: 0px 0px 5px #FF0000; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #F0DDDD; }
/*These selection declarations have to be separate. No text-shadow:twitter.com/miketaylr/status/12228805301. Also:hot pink!*/
::-moz-selection { background: #0033CC; color: #FFF; text-shadow: none; }
::selection { background: #0033CC; color: #FFF; text-shadow: none; }
/*j.mp/webkit-tap-highlight-color*/
/*a:link{-webkit-tap-highlight-color:#0033CC;}*/
/*Make buttons play nice in IE:www.viget.com/inspire/styling-the-button-element-in-internet-explorer/*/
button { width: auto; overflow: visible; }
/*Bicubic resizing for non-native sized IMG:code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/*/
.ie7 img { -ms-interpolation-mode: bicubic; }
/*You might tweak these..*/
body, select, input, textarea { /*#444 looks better than black:twitter.com/H_FJ/statuses/11800719859*/ color: #444; /*Set your base font here,to apply evenly*/ /*font-family:Georgia,serif;*/ }
/*Headers (h1,h2,etc) have no default font-size or margin;define those yourself*/
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a { text-decoration: none; }
a, a:active, a:visited { color: #535353; }
a:hover { color: #999; }
.inputWrap { display: block; min-height : 80px; margin-bottom: 5px; width: 260px; clear: both; overflow: hidden; }
label { display: block; height: 20px; line-height: 20px; }
/* Bar Graphs */
#divPoll { width: 280px; height: 189px; background-image: url(Img/Poll463.gif); }
#pollhead { height: 20px; line-height: 20px; font-weight: bold; padding: 5px 10px; }
#pollbody { width: 245px; height: 144px; padding: 35px 18px 10px 17px; position: relative; }
.headingWidth { width: 245px; margin: 25px 0 5px 0; font-weight : bold }
.contentPoll { width: 245px; }
.contentPoll input[type="radio"] { float: left; margin-right: 5px; height: 20px; line-height: 20px; width: 20px; display: block; }
.pollRadio { float: left; margin-right: 5px; height: 20px; line-height: 20px; width: 20px; display: block; }
.contentPoll label { float: left; width: 210px; }
.pollLabel { cursor: pointer; padding: 0; margin: 0; float: left; width: 210px; display: block; height: 20px; line-height: 20px; }
.SaveButton { color: #1db7eb;  text-align: center; background-image: url(Img/vote463.png); width: 57px; border: none; height: 28px !important; cursor: pointer; padding: 0; margin: 0; }
.bar-title { width: 260px; height: 20px; line-height: 20px; }
#poll-results { width: 245px; }
.graph { width: 260px; }
.bar-container { position: relative; width: 260px; margin: 0 0 5px 0; }
.bar-container div { height: 20px; }
.bar-container strong { position: absolute; right: 0; top: 20px; overflow: hidden; }
#poll-results p { text-align: center; }
.Heading { border: 1px solid #1db7eb; padding-left: 9px; height: 20px; line-height: 20px; text-align: left; margin-bottom: 10px; background-color: #1db7eb; font-weight: bold; }
.displayValue { text-align: left; width: 100px; margin-bottom: 10px; font-weight: bold; }
/*This is new code*/
.seeResults { width: 80px; height: 22px; line-height: 22px; clear: both; float: left; color: mintcream !important; padding-right: 10px; text-align: right; }
#NewHead { background-image: url(Img/toolbox_bubble_blue.png); }
.buttonDiv { width: 245px; height: 28px; position: absolute; bottom: 20px; left: 17px; }
.clrBoth { clear: both; width: 100%; height: 0; line-height: 0; padding: 0; margin: 0; }
.pollLabel2 { cursor: pointer; padding: 0; margin: 0; float: left; width: 200px; display: block; line-height: 20px; }
.contentPoll2 { overflow: hidden; }
#divPoll2 { color : Black !important; background-color : #24abe3; width: 260px; padding: 5px 25px; height: 428px;}
.headingWidth2 { width: 260px; margin: 15px 0 5px 6px; padding: 0 0 10px; font-weight: bold; }