@model Portal.AdminSystem.Models.PortalUploads

@{
    ViewBag.Title = "Banners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="Container2">
        <div class="left">
            <img src="~/Images/ecare.png" width:"100%"style="display: block;" />
            <h4 class="greyPortal"><strong>@ViewBag.Title</strong></h4>
        </div>
        <p class="right">
            <img src="~/Images/healthinsite.png" width:"100%"style="display: block;" />
        </p>
        <br />
        <br />
        <hr class="portalhr" />

        <form action="" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="file1"></label>
                <div class="col-md-10">
                    <input type="file" name="file" id="file1" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="portalbtn btn-default" />
                </div>
            </div>
        </form>
        </div></div>
<br />