.popInner { min-height: 100px; width: 745px; }
.faqhead h1 { margin: 10px 0; text-align: center; }
.faqbody { margin-top: 10px; }
.faqbody ul { margin: 0; }
.faqbody b { padding-top: 10px; color: #333366; font-weight: bold; line-height: 19px; }
.faqbody p { margin: 5px 0 10px 0; line-height: 19px; }
