@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <img src="~/Images/masthead_login.jpg" width:"100%"style="display: block;" />
    <div class="row">
        <div class="col-md-4">        
            <img src="~/Images/HealthinSite.png" width:"100%"style="display: block;" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/ExecCare.png" width:"100%"style="display: block;" />
        </div>

        <div class="col-md-4">

            <img src="~/Images/ecare.png" width:"100%"style="display: block;" />
        </div>
</div>
</div>
<hr />
