@model Portal.AdminSystem.Models.ClientModel

@{
    ViewBag.Title = "Portal File Uploads";
}

<h4><strong>Portal File Uploads</strong></h4>

<form action="" method="post" enctype="multipart/form-data">

    <label for="file1">Banner:</label>
    <input type="file" name="files" id="file1" />

    <label for="file2">Header:</label>
    <input type="file" name="files" id="file2" />

    <input type="submit" />
</form>